# ========================
# Terraform
# ========================
# Compiled files

tr_github_actions_secret/*.tfstate*
tr_github_actions_secret/*.tfstate.lock.info
tr_github_actions_secret/.terraform/
tr_github_actions_secret/.terraform.lock.hcl
tr_github_actions_secret/*.tfvars
tr_github_actions_secret/*.tfvars.json

*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# Module and provider directories
terraform/
.terraform/
.terraform.lock.hcl

# Variables and secrets (Never commit these!)
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Crash logs
crash.log

# ========================
# Docker
# ========================
# Dependency directories
# (If you are copying node_modules or similar into the image)
# node_modules/
# **/node_modules/
npm-debug.log*

# Docker Compose overrides
docker-compose.override.yml
.docker/

.cache/
**/.cache/

/.pnp
.pnp.js

.git
.gitignore
README.md
LICENSE
.vscode
Makefile
helm-charts

.editorconfig

.idea
/.idea/

# ========================
# General / OS
# ========================
**/.DS_Store
.DS_Store
Thumbs.db
# .env
.venv/
.env.local
.env.development.local
.env.test.local
.env.production.local
bin/
obj/


# ignore all markdown files (md) beside all README*.md other than README-secret.md
*.md
!README*.md
README-secret.md

.dockerignore
Dockerfile
docker-compose.yml

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# Stores VSCode versions used for testing VSCode extensions
.vscode-test
.vscode
.vscode/*